/* Fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common Design  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}


/* Header Design Start*/
.header-logo{
    height: 51px;
    width: 42px;
}
.logo-container{
    display: flex;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 94px;
    background-color: #562EFF;
    color: white;
    font-weight: 500;
}
.header-ul{
    display: flex;
    align-items: center;
    gap: 36px;
}
.header-list{
    list-style: none;
}
.header-hyperlink{
    text-decoration: none;
    color: white;
}
/* Header Design End*/



/* Main Design Start */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    margin-top: 28px;
    width: 870px;
}
/* Main Design End  */



/*Top Players Design Start  */
.top-players-container{
    margin-bottom: 30px;
}
#top-title{
    margin-top: -5px;
    color: #562EFF;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    gap: 16px;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* Top Players Design End  */



/* Top Blogs Design Start */
.top-blogs-container{
    
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 28px;
}
.blogs{
    display: flex;
    gap: 16px;
}
.blogs img{
    width: 177px;
    height: 117px;
}

.blogs-details h5{
    width: 120px;
    margin: 15px 0px 0px 0px;
}
.blogs-details p, a{
    margin: 0px 0px;
    text-decoration: none;
}



/* Top Blogs Design End */
.courses{
    padding: 14px;
}
.courses img{
    height: 106px;
    width: 226px;
}
.course-details h5{
    width: 230px;
    height: 23px;
    font-size: 20px;
}
.course-details p a{
    color: #ED6B4F;
    font-size: 14px;
    margin-top: 17px;
}